[workflows]
runButton = "Run Pipeline"

[[workflows.workflow]]
name = "Run Pipeline"
author = 44607185
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd novo && python pipeline_integrado.py"
